.header{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    z-index: 1;

}
.dayNow,.message{
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    margin:0 1rem;
    justify-content:last  baseline;
    
    
}
.dayPic,.messagePic{
    width: 1.5rem;
    height: 1.5rem;

}
.dayTitle,.messageTitle{
    
    box-sizing: content-box;
      /* font-weight: bold; */
      font-size: 12px;
   
}