.link-wrapper{
    height: 4rem;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0 0;
    padding: 0;

}
.link:nth-child(3) .course-icon{
    height: 2.5rem;
    width: 2.5rem;
    margin: -0.5rem 0 0 0 ;
   border:0;
    box-sizing: border-box;
}
.link{
    height: 4rem;
    width: 4rem;
    text-align: center;
}
.course-icon{
    height: 2rem;
    width: 2rem;
}
.course-name{
    color:#4f4f4f;
    font-weight: bold;
}

/* .course-content{

} */
.course-content-title{
border-top: 0.5rem solid #f8f8f8;
}
.course-content-hearder{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-title{
    font-size: 1.5rem;
    color:#404040;
    font-weight: bold;
    margin-left: 0.8rem;
    
}
.more{
    margin-right: 1rem;
}
/* .course-cover{
   
} */
.every-content{
    display: flex;
    /* justify-content: space-between;   */
  
    height: 8rem;
}
.column_detail{
    margin-left: 1rem;
    
}
.column-img{
    width: 5rem;
    height: 7rem;
    font-size: 0;
    margin-left: 0.6rem;
    
   
}
.author_cover{
    width: 4.8rem;
    height: 6.5rem;
    border-radius: 4px;
    line-height: 9rem;
  
}
.column_detail_title{
    font-size: 1rem;
    color:#404040;
    font-weight: bold;
    height: 1.5rem;
    
    margin: -0.2rem 0 0.2rem 0 ;
    /* word-wrap: break-word;
    word-break:break-all; */
    /* overflow: hidden; */
    /* width: 25rem; */

    
}
.intro_content{
    height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin:0.2rem 0 0 0;

}
.author_name{
    border-radius: 2px;
    background-color: #f1f1f1;
    margin: 0 0.8rem 0 0;
    text-align: center;
    line-height: 1.5rem;

    
    
}
.intro{
    width: 13rem;
    background-color: #f1f1f1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5rem;
   
    /* margin: 0.2rem 0 0 0; */
    height: 1.5rem;
    text-align: center;
    border-radius: 2px;
    
}
.unit{
    letter-spacing: 0.2rem;
}
.index{
    color:#f07350;
    border: 0.1rem solid #f07350;
    border-radius: 6px;
    padding: 0 0.2rem;
    margin-right: 0.4rem;
    
}
.index1{
    color:#dbab52;
    border: 0.1rem solid #dbab52;
    border-radius: 6px;
    padding: 0 0.2rem;
    margin-right: 0.4rem;

}
.column_price_sale{
    font-size: 1.3rem;
    color:#e2903a;
     

}
.cloumn_price_market{
    text-decoration: line-through ;
    color:#b4b4b4;
    margin: 0.2rem 0 0 0 ;

    

}
.read{
    background-color: #f6f6ed;
    color:#fd8917;
    border-radius:1rem;
    text-align: center;
    padding:0.2rem  0.5rem;
    margin-left: 6rem;
}

