
.study{
    background: linear-gradient(#fbf7ef,#fffffa,#fbf7ef);
    height: 30rem;
    overflow: scroll; 
   
    
}
.study ::-webkit-scrollbar{  
    height: 0;
    width: 0;
    color: transparent;
    display:none
  }

  
  
.study-hour{
    background-color: #fbf7ef;
    height: 2rem;
    width: 12rem;
    text-align: center;
    border-radius: 0 25px 25px 0;
    line-height: 2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    
}
.time{
   font-style: normal;
   color:#fa8a17;
}
.collection{
    height: 4rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    
}
.collection-wrapper{
    width: 8rem;
  
   text-align: center;
}
.collection-amount{
font-size: 2rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.collection-category{
    color: #868988;
}
.content-wrapper{
    margin-top: 1.5rem;
    background-color: white;
    height: 100%;
    border-radius: 2rem 2rem 0 0 ;
}

/* 等内容重写 */
.study-content{
    color: #868988;
    text-align: center;
    margin-top: 1rem;
}
.order{
    background-color: #fa8919;
    color:white;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    outline: none;
    border: 1px solid transparent;
    padding: 0;
    margin: 2rem auto;
    text-align: center;
    line-height: 3rem;
}
.content-box{
    width: 2rem;
    height: 1rem;
}