{
    "presets": ["env","react"],
    "env": {
        "development": {
            "plugins":[["react-transform", {
                "transfroms":{
                    "transform":"react-transform-hmr",
                    "imports":["react"],
                    "locals":["module"]
                }
            }]]
        }
    }
}